mixin auth(data,issignup=false,isedit=false)
    .uk-width-1-1
        .uk-container
        .uk-grid-margin.uk-grid.uk-grid-stack(uk-grid='')
            .uk-container(class='uk-width-1-1@m')
            .uk-margin.uk-width-large.uk-margin-auto.uk-card.uk-card-default.uk-card-body.uk-box-shadow-large.uk-margin-medium-bottom
                h1.uk-text-center ¡Bienvenido!
                //-p.uk-margin-remove.uk-text-center.uk-text-large Coloca tus datos para ingresar
                .form-group.uk-margin-medium.uk-margin-medium-bottom

                    form(action=`/${issignup?'signup':(isedit?`profile/${user._id}/edit`:"login")}` method='post' enctype="")
                        if issignup
                            .uk-margin
                                .uk-inline.uk-width-1-1
                                    input.uk-input.uk-form-medium(type='text', name='name' placeholder='Nombre' value=`${isedit?user.username:""}` autofocus=true)
                        .uk-margin
                            .uk-inline.uk-width-1-1    
                                input.uk-input.uk-form-medium(type='email', name='email' placeholder='Correo')   
                        .uk-margin
                            .uk-inline.uk-width-1-1
                                input.uk-input.uk-form-medium(type='password', name='password' placeholder='Contraseña')     
                        if issignup || isedit
                            .uk-margin
                                .uk-inline.uk-width-1-1    
                                    input.uk-input.uk-form-medium(type="password", name="conf_password" placeholder='Confirmar contraseña')   
                            .uk-margin
                                .uk-inline.uk-width-1-1    
                                    input.uk-input.uk-form-medium(type="textarea" name="intereses" placeholder='Intereses')
                                    p.uk-text-small Ingresa tus intereses separados por comas y guión medio (Ej. "iron-maiden, teatro")
                        if isedit   
                            .uk-margin
                                .uk-inline.uk-width-1-1    
                                    input.uk-input.uk-form-medium(type="file" name="foto" placeholder="Foto")   
                            .uk-margin
                                .uk-inline.uk-width-1-1    
                                    input.uk-input.uk-form-medium(type='telefono', name='telefono' placeholder='Teléfono')
                            .uk-margin
                                .uk-inline.uk-width-1-1    
                                    input.uk-input.uk-form-medium(type='text', name='rfc' placeholder="RFC" value=`${isedit?user.username:""}`)
                            .uk-margin
                                .uk-inline.uk-width-1-1    
                                    input.uk-input.uk-form-medium(type='text', name='domicilio' placeholder="Domicilio" value=`${isedit?user.username:""}`)
                            
                        button.uk-button.uk-button-secondary.uk-button-large.uk-width-1-1(type='submit')=(isedit?"Editar":(issignup?"Registrarme":"Login"))
                    if edit
                        form(action=`/profile/${user._id}/delete` method="post")
                            button.uk-button.uk-button-secondary.uk-button-large.uk-width-1-1(type='submit') Borrar
                                