mixin auth(data,issignup=false,isedit=false)

    form(action=`/${issignup?'signup':(isedit?`profile/${user._id}/edit`:"login")}` method='post' enctype="multipart/form-data")
    
        .form-group
            
            label(for='email') Email
            input.form-control(type='email', name='email' placeholder='Email' )
            label(for='name') Name
            input.form-control(type='text', name='name' placeholder='Name' value=`${isedit?user.username:""}` autofocus=true)
            label(for='password') Password
            input.form-control(type='password', name='password')
            if issignup || isedit
                label(for='conf_password') Confirm Password
                input.form-control(type="password", name="conf_password")   
                label(for='intereses') Intereses
                input.form-control(type="textarea" name="intereses")
            if isedit   
                label(for="foto")
                input(type="file" name="foto" )
                
                label(for='telefono') Telefono (opcional)
                input.form-control(type='telefono', name='telefono')
                label(for='rfc') RFC (opcinal)
                input.form-control(type='text', name='rfc' value=`${isedit?user.username:""}`)
                label(for='domicilio') Domicilio
                input.form-control(type='text', name='domicilio' value=`${isedit?user.username:""}`)
                
            button.btn.btn-primary(type='submit')=(isedit?"Editar":(issignup?"Registrarse":"Login"))
        if edit
            form(action=`/profile/${user._id}/delete` method="post")
                button.btn.btn-primary(type='submit') Borrar
                    
