mixin auth(data,issignup=false,isedit=false)

    form(action=`/${issignup?"login":'signup'}}` method='post')
    
        .form-group
            if issignup || isedit
                label(for='email') Email
                input.form-control(type='email', name='email' placeholder='Email' )
            label(for='name') Name
            input.form-control(type='text', name='name' placeholder='Name' autofocus=true)
            label(for='password') Password
            input.form-control(type='password', name='password')
            if issignup || isedit
                label(for='conf_password') Confirm Password
                input.form-control(type="password", name="conf_password")   
                
                <form action="/profile" method="post" enctype="multipart/form-data"> Subir Identificación
                    <input type="file" name="photo" /> 
                </form>
                label(for='telefono') Telefono (opcional)
                input.form-control(type='telefono', name='telefono')
                label(for='rfc') RFC
                input.form-control(type='text', name='rfc')
                label(for='domicilio') Domicilio
                input.form-control(type='text', name='domicilio')
                label(for='intereses') Intereses
                input.form-control(type='textarea', name='intereses')
            
        button.btn.btn-primary(type='submit')=(isedit?"Editar":(issignup?"Registrarse":"Login"))